
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;}
  

header {
    background: #452a85;
    color: white;
    padding: 1rem;
    text-align: center;
}
 h2 {
    text-align: center;
    
 }
nav {
    background: #6b5d8d;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #927aa8;
}

main {
    max-width: 90%;
    margin: 1rem
    auto;
}


.card {
background: white;
padding: 1rem;
margin-bottom: 1rem;
border-radius: 5px;
}

footer {
background: #452a85;
color: white;
text-align: center;
padding: 1rem;
position: relative;
bottom: 0;
width: 100%;
}
