* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #fff;
    color: #000;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

#dark-mode-toggle {
    cursor: pointer;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #452a85;
    color: white;
    padding: 1rem;
}

.name {
    font-size: 35px;
    font-weight: 500;

}

h1 {
    text-align: center;
}

h2 {
    background-color: #452a85;
    text-align: center;
    color: #fff;
    display: block;
    padding: .75rem;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    
}

li {
    padding: 0.5rem;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    background-color: #927aa8;
}

nav {
    background: #6b5d8d;
}

main {
    max-width: 90%;
    margin: 1rem auto;
}

.card {
    margin: 1rem;
    border: 1px solid #452a85;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.75rem;
    display: grid;
    text-align: center;
}

footer {
    background: #452a85;
    color: white;
    text-align: center;
    padding: 10px;
}

#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

#dark-mode-toggle img {
    width: 24px;}
