@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin-right: 1rem;
    }

    nav li:last-child {
        margin-right: 0;
    }

    .card {
       display: grid;
       grid-template-columns: 2fr 1fr;
       column-gap: 10px; 
       box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.open ul {
        display: flex;
        flex-direction: column;
    }
}
  