@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin-right: 1rem;
    }

    nav li:last-child {
        margin-right: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .card {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.open ul {
        display: flex;
        flex-direction: column;
    }
}
  