body {
    font-family: Arial, sans-serif;
}

label, input, button {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    background-color: #f4f4f4;
    padding: 5px;
}
